---
layout: home
title: Bottles, Cans, or Drafts
subtitle: Pouring Over the Data to Decode the Perfect Sip
cover-img:
  - "/assets/img/home.jpeg"
---

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    .btn {
      border: none;
      background-color: white;
      font-size: 16px;
      color: #383838;
      cursor: pointer;
      display: inline-block;
    }

    .btn:hover {
      background: #eee;
    }
    </style>
</head>

<body>

    <hr>
    <p><b>Table of contents</b></p>
    <hr>

    <div class="btn-container">
      <a href="#First_Point_Header" class="btn Introduction"><b> Introduction</b></a>
    </div>

    <div class="btn-container">
      <a href="#Part_1" class="btn Part1"><b>Unveiling the Data</b></a>
    </div>

    <div class="btn-container">
      <a href="#Part_2" class="btn Part2"><b>Serving style extraction</b></a>
    </div>

    <div class="btn-container">
      <a href="#Part_4" class="btn Part4"><b>Statistical Analysis</b></a>
    </div>

    <div class="btn-container">
      <a href="#Conclusion" class="btn Conclusion"><b>Conclusion</b></a>
    </div>

    <hr>

    <body id="page-top" class="index">

        <h2 id="First_Point_Header">Introduction</h2>
        {% include intro.html %}

        <h2 id="Part_1">Unveiling the Data</h2>
        {% include part1.html %}

        <h2 id="Part_2">Serving style extraction</h2>
        {% include part2.html %}

        <h2 id="Part_4">Statistical Analysis</h2>
        {% include part4.html %}

        <h2 id="Conclusion">Conclusion</h2>
        {% include conclusion.html %}

    </body>
</body>
