<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Conclusion</title> 
</head>

<body>

<p>So, what's the verdict on the serving style saga?  🥁 After an in-depth exploration, it's clear that serving style waltzes with ratings. But wait, there's a twist in the tale! Once we unveil the secrets of beer groups, the differences in ratings start to blur. Turns out, the tasting palette remains almost identical across all serving styles. So, whether you fancy bottles, cans, or drafts, it's all about your unique flavor journey. Cheers to sipping with style and keep enjoying your beers!</p>

<div style="display: flex; justify-content: center;">
    <iframe src="https://giphy.com/embed/lTGLOH7ml3poQ6JoFg" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>
<p><a href="https://giphy.com/gifs/bww-buffalo-wild-wings-bdubs-lTGLOH7ml3poQ6JoFg">via GIPHY</a></p>

<p>For the curious minds craving more depth, imagine unraveling the mysteries of beer temperature during tasting or decoding the impact of storage conditions. The adventure doesn't end here; it's just the frothy beginning!</p>

<p> <a href="https://github.com/epfl-ada/ada-2023-project-beeradaventure46/tree/main">GitHub Repo</a></p>

</body>