<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abstract</title>
</head>

<body>

    <h4>Abstract</h4>

    <p>In this dive into the beer world, our project seeks to figure out the subtle differences that various ways of serving—bottle, can, and draft—bring to beer reviews. We're curious about what makes people like one style over another. Why does it matter, you ask? Because beer enthusiasts, much like you and me, take their choices seriously. And we want to know if the container affects how they rate and describe the brew. By closely looking at a dataset of beer reviews, we want to spot any connections or trends that show how serving styles might sway the overall rating and what people say about the beer. As we take on this bubbly quest, we hope to quench the thirst for understanding how picking between a bottle, can, or draft might shape how beer lovers feel.</p>

    <h4>The Curiosity Spark</h4>

    <p>Picture this: A cozy pub, friends gathered, and the bartender presenting three options – a bottled beauty, a canned contender, and a freshly poured draft. Each sip tells a story, and we're here to decode it. What makes a person lean towards one style over another? Is it the tactile satisfaction of popping a cap, the convenience of a can, or the experience of a perfectly pulled pint?</p>

    <p>Our journey is fueled by burning questions:</p>

    <ol>
        <li>Does a specific serving style consistently earn higher or lower ratings than its counterparts?</li>
        <li>Are certain beer types more closely linked to a particular serving style?</li>
        <li>Do regional preferences influence the choice of serving style in different corners of the globe or across the United States?</li>
    </ol>

</body>

</html>
