<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <title>Data Visualizations</title>
</head>

<body>

  <h1>Visualisations</h1>

  <p>We then did some more data exploration to better visualize the data and try to find some explanatory patterns. Mainly, we wanted to look at our final data set, after all the filtering, deletions and enrichment.</p>

  <h2>Temporal analysis</h2>

  <p>We start by looking at patterns in time:</p>

  <div id="plot-year-by-year"></div>
  <script src="plotly-scripts.js"></script>

  <p>As we can observe, the website's popularity has kept growing until 2011, but has decreased ever since. This is probably due to the competition introduced by smartphone apps!</p>

  <div id="plot-months"></div>
  <script src="plotly-scripts.js"></script>

  <p>We also observe that people review more beers in December than any other month...winter solitude or just tasting recent gifts?</p>

  <h2>Geographical analysis</h2>

  <p>After extracting and enriching our data with the serving styles, we also wanted to understand how people drink their beer worldwide, or rather, what they drink it from.</p>

  <div id="plot-distrib-regions-horizontal"></div>
  <script src="plotly-scripts.js"></script>

  <p>It seems that there are quite a few differences! Micronesia and Sub-Saharan Africa appear to almost only drink from bottles, while Melanesia likes cans. Apart from these regions, all the others seem to follow the distribution that we modeled before.</p>

</body>

</html>

