<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <title>Data Visualizations</title>
</head>

<body>
  <p>We embarked on a data exploration journey, uncovering hidden gems in our final dataset. Think of it as sifting through the beer-filled sands to find the real treasures – those data patterns!</p>

  <h2>Temporal Analysis</h2>

  <p>Our journey through time revealed interesting patterns:</p>

  <iframe src="/assets/figures/number_reviews_year.html" width="825" height="625" frameborder="0"></iframe>

  <p>Website popularity soared until 2011, but then? A dip. Probably the rise of smartphone apps – the new sheriffs in town!</p>

  <iframe src="/assets/figures/percentage_reviews_month.html" width="825" height="625" frameborder="0"></iframe>

  <p>December, a month of beer reviews. Winter solitude or just sipping on gifts? The mystery remains.</p>

  <h2>Geographical Analysis</h2>

  <p>Let's globetrot! After enriching our data with serving styles, we delved into global beer habits – or rather, what people sip their brews from.</p>

  <img src="/assets/figures/serving_type_world_region.png" alt="Serving style distribution per region">

  <p>Regions show their style! Micronesia and Sub-Saharan Africa prefer bottles, while Melanesia leans towards cans. Rest of the world? They dance to the beat we predicted earlier.</p>

  <p>What about the US ? How are the serving styles distributed across the country ? We decided to visualize the 10 states with the most reviews. </p>

  <img src="/assets/figures/serving_type_US_top_10.png" alt="Serving style distribution per US state">

  <p>There seems to be less diversity in the US, with most states preferring bottles. Some states tend to drink more draft beers, like California or New York, but the proportion of canned beers is the same accros the country.</p>

  <h2>Categories of Group Analysis</h2>

  <p>Enter the beer group mystery! How do different styles cozy up to serving styles? We grouped styles, seeking the patterns.</p>
  
  <img src="/assets/figures/serving_type_beer_group.png" alt="Serving style distribution per beer group">
  <p>Here's a sneak peek into the beer landscape. Bottles are the regulars – no surprises. Cans? They fancy hanging out with Lagers. The misconception that canned means cheap? Lagers seem to be caught up in that story. No fuss, no frills – just the real beer deal. Cheers to clarity through the haze! 🍻 </p>

  </p>
</body>

</html>