
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serving Style Extraction</title>
</head>

<body>

    <p>In our exploration of 250 hand-checked beer reviews, we set out to uncover the mysteries of serving types. We kicked things off with the simple Naïve method, choosing a serving type when the answer was obvious. However, as the reviews got more complex, we tried the fancier Similarity method, using calculations to compare review text with potential serving types.</p>

    <p>Despite our efforts to enhance accuracy, the straightforward Naïve method proved to be more effective overall. The accuracy decreased, and the number of reviews categorized as unknown increased. Subsequently, we decided not to pursue the Similarity method further and continued refining the Naïve method. We acknowledged its limitations, especially when dealing with ambiguous statements like the one found in some reviews: "I actually found this more elegant and less bruising than expected. Stone can still surprise," where the word "can" functioned as a verb, not a serving type, but our algorithm mistakenly considered it one.</p>

    <p>To address such challenges, we introduced a Rule-based method. This involved differentiating between the verb 'can' and the noun 'can' in the reviews and excluding serving types if certain verbs ("would," "could," "'d," "will") were present. For instance, in sentences like "and I will certainly be keeping an eye out for a bottle," the serving type 'bottle' wouldn't be considered because the user had not yet consumed from a bottle. Despite these efforts, challenges persisted, leading us to refine our approach further with a Tense-based method.</p>

    <p>In the Tense-based method, we focused solely on the unknown reviews identified in the Rule-based analysis. The method involved analyzing the different tenses of the verbs before the serving type. When a verb in the past was found, the serving type was taken. However, if the verbs were all in the present, the serving was considered unknown. This allowed us to decrease the amount of unknown by 4%, giving us 100,000 more data while keeping the accuracy around 94%.</p>

    <p>All these methods were applied by examining the 250 hand reviews and were modified to maximize accuracy. The journey from the simple Naïve method to the more refined Tense-based method underscores the complexities involved in recognizing serving types in reviews. Cheers to the adventure! 🍻</p>

    <table>
        <thead>
        <tr><th>Rule             </th><th style="text-align: right;">Accuracy</th><th style="text-align: right;">Unknown </th><th style="text-align: right;">bottle</th><th style="text-align: right;">can</th><th style="text-align: right;">draft</th></tr>
        </thead>
        <tbody>
        <tr><td>Naïve            </td><td style="text-align: right;">           75.6%</td><td style="text-align: right;">          42.2%</td><td style="text-align: right;">        22.25%</td><td style="text-align: right;">      23.5%</td><td style="text-align: right;">       12%  </td></tr>
        <tr><td>Similarity       </td><td style="text-align: right;">           64%  </td><td style="text-align: right;">          93.7%</td><td style="text-align: right;">         2.5%</td><td style="text-align: right;">       0.8%</td><td style="text-align: right;">        3.1%</td></tr>
        <tr><td>Rule-based       </td><td style="text-align: right;">           94.4%</td><td style="text-align: right;">          59.6%</td><td style="text-align: right;">        29.1% </td><td style="text-align: right;">       2.1%</td><td style="text-align: right;">        9.3%</td></tr>
        <tr><td>Rule-based+ Tense</td><td style="text-align: right;">           94%  </td><td style="text-align: right;">          55.6%</td><td style="text-align: right;">        31.5% </td><td style="text-align: right;">       2.5%</td><td style="text-align: right;">       10.4%</td></tr>
        </tbody>
        </table>

    
</body>

</html>
